{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #reg {
            background-color: blanchedalmond;
            color:purple;
        }
    </style>
    <title>Home</title>
</head>
<body>
    <table > 
        <h1 style="text-align:center" id="reg">Welcome to vn2 Solution</h1>
        <img src="{% static 'image/vn2log.jpg' %}" alt="">
    <a href="{% url 'insert_emp' %}">Go to Registration page</a>
    </table>
    
</body>
</html>